html {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #000;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 0;
  display: inline-block;
}

fieldset {
  padding: 0;
}

button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

div .name {
  float: left;
}

div .age {
  float: right;
}

div .email {
  float: left;
}

div .fit {
  float: right;
}

@media only screen and (min-width: 60em) {

  button:hover {
    background-color: #f2f2f2;
  }

}
